@import '~bootstrap/scss/bootstrap.scss';
@import '~@fortawesome/fontawesome-free/css/all.css';

html {
    body {
        overflow-x: hidden;

        #root {
            .App {
                .page-content-wrapper {
                    min-width: 100vw;
                }

                .toast-container {
                    position: absolute;
                    right: 2%;
                    top: 3%;
                    z-index: 999;

                    .toasts {
                        .toast {
                            width: 250px;

                            .toast-header {
                                color: #ffffff;

                                .text-muted {
                                    color: #ffffff !important;
                                }
                            }
                        }
                    }
                }

                .BookManagement {
                    .add-copy-container {
                        width: 120px;
                        
                        .copy-num {
                            width: 50px;
                        }
                    }
                }

                .Checkout {
                    .checkout-records {
                        span.overdue {
                            content: url(../assets/overdue-icon.jpg);
                            width: 80px;
                        }

                        .card-body {
                            max-width: 100vw;
                            overflow: scroll;
                        }
                    }
                }

                @media (min-width: 768px) {
                    .page-content-wrapper {
                      min-width: 0;
                      width: 100%;
                    }
                }

                .loading-layout {
                    display: none;
                    &.show {
                        display: block;
                        
                        .loading-overlay {
                            opacity: .5 !important;
                            position: absolute;
                            width: 100vw !important;
                            height: 100vh !important;
                            background: lightgrey;
                            z-index: 999;
                        }
        
                        .loading-spinner {
                            z-index: 1000;
                            position: absolute;
                            width: 100%;
                            top: 30%;
                        }
                    }
                }
            }

            #wrapper {
                .side-bar.d-none {
                    margin-left: 0;
                    display: block !important;
                }

                &.togged {
                    .side-bar {
                        margin-left: -15rem;
                    }

                    // @media (min-width: 375px) {
                    //     .page-content-wrapper {
                    //         margin-left: 8rem;
                    //     }
                    // }
                }
            }
        }
    }
}